/* Sweet Alert Coustomize Start */
.swal2-title {
  font-size: 13px !important;
}

.swal2-html-container {
  font-size: 12px !important;
}
.swal2-icon {
  font-size: 8px !important;
}
.swal2-styled.swal2-confirm {
  font-size: 11px !important;
}
.swal2-styled.swal2-cancel {
  font-size: 11px !important;
}

.swal2-popup {
  width: 200px !important;
}
/* Sweet Alert Coustomize End */

.cursor{
  cursor: pointer;
}
.css-g2tram-MuiToolbar-root{
  z-index: 0 !important;
}

.MuiBox-root css-sq9qdz{
  z-index: 0 !important;
}

.css-1omuo8w-MuiToolbar-root{
  z-index:0 !important ;
}

.select-btn{
  margin-top: 37PX;
}

 